@media only screen and (max-width: 1010px) {

    .menu1 {
        display: none !important;
    }

    nav {
        padding: 0 10px;
    }

    #site-title {
        font-size: 20px;
    }

    .left-nav span {
        margin-left: 1vw;
    }

    .center-nav {
        display: inline-block;
    }

    .shortquotes {
        font-size: 22px;
        margin: 7px 0;
        line-height: 23px;
    }

    .short-stack {
        width: 65%;

    }

    .f-text {
        font-size: 40px !important;
        top: 30px !important;
        width: 40%;
    }

    #picture1 {
        height: 140px;
        width: 140px;
        padding: 0;
    }

    #picture2 {
        height: 140px;
        width: 140px;
        padding: 0;
    }

    #picture3 {
        height: 140px;
        width: 140px;
        padding: 0;
        margin: 0;
    }

    .outer-wrapper h2 {
        font-size: 38px;
    }

    .shifters {
        display: none;
    }

    .shifters i {
        display: none;
    }

    .story-wrapper {
        display: flex;
        height: 40vw;
       
    }

    .story {
        width: 40vw;
        height: 40vw;
    }

    .story img {
        width: 40vw;
        height: 40vw;
    }

    .story h1 {
        font-size: 4vw;
        margin: 0 2px;
    }

    .story span {
        font-size: 2vw;
        margin: 0;
    }

    .story date {
        font-size: 2vw;
        margin: 0;
    }

    .topic {
        font-size: 38px;
        margin: 0;
        margin-top: 20px;
    }

    .post-box img {
        height: 25vw;
        width: 22vw;
        margin-left: 10px;

    }

    .post-box h2 {
        font-size: 4vw;
    }

    .post-box p {
        font-size: 18px;
        height: 150px;
    }



    footer {
        display: block !important;

        margin: 5px;
        padding: 0;
    }

    footer h5 {
        font-size: 18px;
    }

    footer span {
        display: block !important;
        font-size: 14px;
        margin: 0 auto;
        padding: 0;
    }

    .slick-dots {
        bottom: -50px !important;
    }

    .featured-image {
        display: block;
        width: 70%;
        height: 300px !important;
        margin: 45px auto;

    }

    .post-content,
    .post-info {
        width: 90%;
    }

    .post-info {
        font-size: 14px;
    }

    .tag-name {
        margin: 0 5px;
    }

    .post-content p {
        font-size: 20px;
        margin: 5px;
        color: var(--col5);
    }

    .post-content h2 {
        font-family: var(--font1);
        font-size: 30px;
        margin: 15px;
        color: var(--col3);
    }

    .post-content h3 {
        font-family: var(--font1);
        font-size: 25px;
        margin: 15px 50px;
        color: rgb(0, 84, 202);
    }

    .post-content ul,
    .post-content ol {
        font-size: 18px;
        margin: 15px;
        color: var(--col5);
    }

    .post-content img {
        display: block;
        width: 70%;
        height: 300px;
        margin: 40px auto;
    }

    .author {
        font-size: 18px;
    }

    .author-image {
        padding-bottom: 6px !important;
    }

    .flex {
        display: block;
    }

    .post-sidebar {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .sidebar-post {


        display: grid;
        grid-template-columns: 30% 70%;
        grid-gap: 20px;

    }

    .cms {
        display: block;
    }
#Editor{
    margin: 5px auto;
    height: 500px;

}
    .icon-bar {

        width: auto;
    }

    .btn-s {
        font-size: 12px;

    }
    .icon-label{
        display: inline-block;
        margin-left: 4px;
    }
    .heading{
        font-size: 22px;
    }
    .btn-l{
        font-size: 12px;
        width: auto;
        padding: 2px 5px;
        height: inherit;
    }
    .simple-input-text{
        height: inherit;
        font-size: 20px;
      

    }
    .square-l-r h2{
        font-size: 15px;
    }
    .square-l-r p{
        font-size: 10px;
        height: 150px;
    }
}


@media only screen and (max-width: 530px) {
    #logo-span {
        display: none;
    }

    #site-title {
        font-size: 20px;
    }

    #down-arrow {
        font-size: 25px;
    }

    .search-box {
        width: 100px;
        height: 15px;
    }

    .search-icon {
        font-size: 15px;
    }

    .shortquotes {
        margin: 10px 0;
        font-size: 15px;
        line-height: 20px;
    }

    .short-stack {
        width: 65%;
    }

    .f-text {
        font-size: 30px !important;


    }

    .outer-wrapper h2 {
        font-size: 28px;
    }

    .stories {
        height: 200px;
    }

    .post-box p {
        font-size: 12px;
        height: 80px;
    }

    .footer {
        margin: 1px;
        font-size: 8px;
    }

    .fw-cover-s {
        clear: both;
        height: 170px;

    }

    .topic {
        font-size: 22px;
    }

    .post-content {
        width: 91%;
        margin: 12px 4px;
    }

    .featured-image {
        display: block;
        width: 80%;
        height: 150px !important;
        margin: 40px auto;
    }

    .post-info {
        width: auto;
        font-size: 10px;
    }

    .post-info span {
        padding: 5px;

    }

    .tag-name {
        margin: 1px;
        padding: 0;

    }

    .post-content p {
        font-size: 15px;
        margin: 5px;
        color: var(--col5);
    }

    .post-content h2 {
        font-family: var(--font1);
        font-size: 20px;
        margin: 15px;
        color: var(--col3);
    }

    .post-content h3 {
        font-family: var(--font1);
        font-size: 16px;
        margin: 10px 20px;
        color: rgb(0, 84, 202);
    }

    .post-content ul,
    .post-content ol {
        font-size: 11px;
        margin: 12px;
        color: var(--col5);
    }

    .post-content img {
        display: block;
        width: 80%;
        height: 150px !important;
        margin: 40px auto;
    }

    .side-bar-headings {
        font-size: 20px;
    }

    .post-sidebar .fa {
        font-size: 15px !important;
    }

    .sidebar-post img {
        width: 110px;
        height: 70px;
    }

    .sidebar-post h3 {
        font-size: 18px;
    }

    .post-info {
        font-size: 10px;
        width: 90%;
    }

    .post-info img {
        height: 30px;
        width: 30px;
    }

    .post-info date {
        padding: 4px;
        padding-left: 40px;
        margin: 0;
    }

    .post-heading {
        font-size: 20px;
    }

    .post-content h2 {
        font-size: 18px;
    }

    .author {
        margin: 0;
        font-size: 12px;
    }

    .tags {
        font-size: 15px;
    }

    footer h5 {
        font-size: 15px;
    }

    footer .right {
        float: none;
        margin: 5px 0 10px 0;
        text-align: center;
    }
.square-l-r{
    width: 40%;
   
}

}